* {
    margin: 0%;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    
}
 /* Navbar layout style */
 .container1 {
    border: 1px solid blueviolet;
    border: none;
    


 margin:0px 150px;
}
    
  
 ul {
    
    padding: 20px;
  }
  
  li {
    
    display: inline;
    padding-left: 20px;
  }
  
  li > a {
    text-decoration: none;
    color: black;
  }
.image1 {
    border: 1px solid rgb(102, 93, 93);
    border-top: none;
    border-bottom: none;  
    border-left: none;
      width: 18%;
    height: 15%;
    padding: 10px;
}
.list1 {
    position: relative;
    bottom: 22px;
}
.list1 a:hover {
    color: rgb(0, 104, 56);
}

   .intro {
    border: 1px solid black;
    width: 510px;
    display: inline-block;
    border: none;
   }
   .container2 {
    border: 1px solid black;
    width: 510px;
    display: inline-block;
    border: none;
   }
  
h1 {
    text-align: left;
    color: rgb(0, 104, 56);
    
}
p {
    
    color: rgb(102, 93, 93);
    
}
.container1 >img {
    width: 150px;
    margin: 30px 0px 20px 630px;
    border-radius: 950px;
     position: relative;
    right: 180px; 
    
  }
  .line-hr {
    width: 60px;
    margin-left: 500px;
    border: 4px solid rgb(79, 79, 121);
    border-radius: 4px;
  } 

  .sir {
    text-align: center;
  }
.center {
  padding-top: 20px;
  padding-left: 25%;
  padding-right: 25%;
}

.form {
  box-shadow: 5px 5px 10px gray;
  margin: 20px 0px 20px 450px;
  width: 500px;
}

.form>div {
  margin: 10px 0px 20px 20px;
}

.form>div>h2 {
  margin: 0px 0px 20px 0px;
  color: rgb(124, 116, 116);
}

.form>div>p>span {
  color: red;
}

.form>div>input {
  margin-bottom: 15px;
  height: 40px;
  width: 450px;
  border: 1px solid rgb(154, 146, 146);
  outline: none;
  border-radius: 4px;
  padding-left: 5px;
}

.form>div>.phone {
  margin-bottom: 15px;
  height: 40px;
  width: 450px;
  border: 1px solid rgb(154, 146, 146);
  outline: none;
  border-radius: 4px;
  padding-left: 5px;
}

.form>div>textarea {
  margin-bottom: 15px;
  height: 100px;
  width: 450px;
  outline: none;
  border: 1px solid rgb(154, 146, 146);
  border-radius: 4px;
}

.form>div>p {
  color: rgb(255, 0, 0);
}

.form>div>button {
  width:450px;
  padding: 10px;
  margin-bottom: 20px;
  
  background-color: rgb(20, 74, 20);
  color: white;
  font-size: large;
  border-radius: 4px;
  border: none;
  
}
a{
  color: white;
  text-decoration: none;

}
.contact-div>div>button:hover {
  color: rgb(8, 83, 8);
  background-color: rgb(229, 212, 212);
}
.last {
  display: flex;
  flex-wrap: wrap;
}

.last>div {
  width: 30%;
}

.last>div>img {
  width: 50%;
  margin: 60px 20px 20px 50px;
}

.last>div>h4 {
  color: rgb(33, 68, 33);
  margin: 10px 0px 10px 80px;
}

.last>div>ul>li>a {
  margin: 0px 0px 0px 20%;
  text-decoration: none;
  color: green;
}

.last>div>ul>li {
  list-style: none;
}

.last>div>p {
  color: green;
  margin: 0px 0px 0px 80px;
}
.final {
  display: flex;
  width: 100%;
  background-color: #F0FFF4;
}

.final>div {
  width: 50%;
}

.final>div>p {
  margin: 20px 0px 20px 20px;
  color: rgb(107, 107, 107);
}

.final>div>div>img {
  width: 20px;
  margin: 5px;
}

.final>.icon {
  margin: 20px 0px 10px 70%;
}

  


 
  
  









































































































































































































    width: 20%;
    height: 20%;
} 
